*{
	font-family: $font;
}

.nav-gradient{
	  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.75));
}
p{
	&.copyright{
		font-size:80%;
		color: #707070;
		margin-bottom:0;
	}
}
.view{outline:1px solid #0f0;}


.bg{
	background-size:cover;
  // height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  flex:align-items-center;
}



// font-family: "nimbus-sans", sans-serif;
// font-weight: 300;
// font-style: normal;



address{
	p, a{
		font-size:2.5rem;
		color: $tan;
}
	a{
		&:hover{
			color: $tan;
			text-decoration:none;
		}
}
}

.tile{
	corner-radius:0;

}

// Headings

h1{
	text-transform:uppercase;
	color: $white;
}


.bg-blue{
	background-color: $blue;
	color: $white;
}

.bg-tan{
	background-color: $tan;
}

.bg-brown{
	background-color: $brown;
}

.bg-gray{
	background-color: $gray-600;
}

.bg-darkgray{
	background-color: $dark-gray;
}

.text-white{
color: #fff;
}

.text-brown{
	color: $brown;
}

.text-blue{
	color: $blue;
}

.text-light-gray{
	color: $light-gray;
}

.text-tan{
color: $tan;	
}

.weight-200{
	font-weight:200;
}

.weight-100{
	font-weight:100;
}

.f-24{
	font-size:1.5rem;
}

.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -2px;
    list-style-type: none;
}
.flex-list li {
	    font-size:32px;
	    text-transform:uppercase;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #000;
        background-color: $tan;
}