// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

@import url("https://use.typekit.net/thc3faf.css");

$white: #ffffff;
$white-75: rgba($white,0.75);
$blue: #013C4B;
$primary: $blue;
$tan: #D7D1BF;
$brown: #231F20;
$light-brown: #7C6E65;
$dark-gray: #231f20;
$light-gray: #707070;

$font: "new-hero", sans-serif;
$font2: "nimbus-sans", sans-serif;


$card-border-radius: 0;

$btn-border-radius:           0;
$btn-border-radius-sm:        0;
$btn-border-radius-lg:        0;

$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         2rem;
$input-btn-font-family:       $font;
$input-btn-font-size:         1.25rem;
$btn-font-weight:             700;

