*{ font-family: $font; }


body{
	max-width:120rem;
	margin-left: auto;
	margin-right: auto;
}


.view{outline:1px solid #0f0;}


.nav-gradient{
	  background-image: linear-gradient(to top, rgba($blue,0), rgba($blue,.85));
	  	@include media-breakpoint-up(lg) { padding:2rem 0; }
}

.nav-link {
    color: $white;
    transition: color .15sease-in-out, background-color .15sease-in-out, border-color .15sease-in-out;
}


p{
	font-family: $font2;
	font-size: 1.125rem;
		
		&.copyright{
			font-size:80%;
			color: #707070;
			margin-bottom:0;
		}
		
		&:empty{
			margin:0;
		}
}

.partner-title{
	font-family: $font;
	font-size:2.5rem;
	}

.bg{
	background-size:cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	flex:align-items-center;
}

.accent{
	background-repeat:no-repeat;

	&.left-center{
		background-position:left 2rem bottom 50%;
		}
	&.right-center{
		background-position:right 2rem bottom 50%;
		}
	&.right-bottom{
		background-position:right 2rem bottom 1rem;
		}
	}


address{
	p, a{
		font-size:1rem;
		color: $tan !important;
			@include media-breakpoint-up(lg) {
				font-size:1.5rem;
			}
		}
		a{
			&:hover{
				color: $tan;
				text-decoration:none;
			}
		}
	}



// Headings

h1{
	text-transform:uppercase;
}

h2,h3{
	font-weight:500;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 2px solid;
    opacity: 1;
}


.bg-blue{
	background-color: $blue;
	color: $white !important;
	
	.partner-title{
		color: $tan !important;
	}
}

.bg-tan{
	background-color: $tan;
	//color: $dark-gray !important;
	p{
		color: $dark-gray;
	}
	.partner-title{
			color: $blue;
}
}

.bg-brown{
	background-color: $brown;
}

.bg-light-brown{
	background-color: $light-brown;
	color: $white;
}

.bg-light-gray{
	background-color: $light-gray;
		color: $white;
}

.bg-gray{
	background-color: $gray-600;
}

.bg-dark-gray{
	background-color: $dark-gray;
	color: $white;
}

.bg-white-75{
	background-color: $white-75;
}



.text-white{
color: #fff;
}

.text-brown{
	color: $brown;
}

.text-blue{
	color: $blue;
}

.text-light-gray{
	color: $light-gray;
}

.text-tan{
color: $tan;	
}


.weight-200{
	font-weight:200;
}

.weight-100{
	font-weight:100;
}

.f-24{
	font-size:1.5rem;
}





#hero{
	h1{
		font-size:2rem;
		@include media-breakpoint-up(md) { font-size: 3.5rem; }
		@include media-breakpoint-up(lg) { font-size: 4rem;}
		@include media-breakpoint-up(xl) { font-size: 5.3125rem;}
	}
}


.overlay-text{
	text-transform: uppercase;
	position:absolute;
	height:auto;

	@include media-breakpoint-up(md) { 	}
}



.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -2px;
    list-style-type: none;
}
.flex-list li {
	    font-size:32px;
	    text-transform:uppercase;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #000;
        background-color: $tan;
}






.tile{
	padding: 2rem;
	display:flex;
	flex-direction:column;
	corner-radius:0;

	&.industry{
		background-color: $white-75;
		height:100%;
			
			.tile-title{
				h3{
					font-weight:normal;
					color: $blue;
					text-align:center;
				}
			}
			
			.tile-text{
				color: $dark-gray;
			    display: flex;
      			flex-direction: column;
      			margin-top: auto;
      			padding-top:1rem;
			}
			
			.tile-link{
			 	text-align:right;
				&a{
			 	margin-top:auto;
				font-family: $font2;
				font-weight: 700;
				color: $blue;
				align-self:flex-end;
				}
			}
	}
}










// Contact page

.location-overlay{
	
	&.desktop{
		position:absolute;
		max-width:90rem;
		bottom:-32%;
		left: 0; 
		right: 0; 
		margin-inline: auto; 
		z-index:9999;
	}
	
	&.mobile{
		position:relative;
		min-height:12rem;
			@include media-breakpoint-up(lg) {
				min-height:15rem;
				}
			@include media-breakpoint-up(xl) {
			 	min-height:18rem;
				}
			@include media-breakpoint-up(xxl) {
			 	min-height:20rem;
				}
			}
		}




.wpcf7 {
    max-width: 1200px !important;
}

.form-control {
	border-radius:0;
}








